html body {
  background-color: #f6f6f6;
}

iframe {
  width: 100%;
  height: calc(100% + 50px);
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
}
